
.content_grid {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: double var(--colorPrimary) 5px;
    border-radius: 10px;
    width:min-content;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(72, 255, 0, 0.17) 0px -23px 25px 0px inset, rgba(106, 255, 0, 0.15) 0px -36px 30px 0px inset, rgba(64, 255, 0, 0.1) 0px -79px 40px 0px inset, rgba(98, 255, 0, 0.06) 0px 2px 1px, rgba(106, 255, 0, 0.09) 0px 4px 2px, rgba(157, 255, 0, 0.09) 0px 8px 4px, rgba(115, 255, 0, 0.09) 0px 16px 8px, rgba(132, 255, 0, 0.09) 0px 32px 16px;
    filter: brightness(0.9);
    font-size: 0.95rem;
    text-shadow: 1px 1px 2px rgba(0, 1, 70, 0.705);
    transition: 0.2s linear;
}

.content_grid:hover {
    filter: brightness(1);
    color: var(--colorBlueShadow);
    background: rgba(249, 246, 89, 0.25);
    transform: translateY(-10px);
    box-shadow: rgba(72, 255, 0, 0.27) 0px -23px 25px 0px inset, rgba(106, 255, 0, 0.25) 0px -36px 30px 0px inset, rgba(64, 255, 0, 0.11) 0px -79px 40px 0px inset, rgba(98, 255, 0, 0.16) 0px 2px 1px, rgba(106, 255, 0, 0.19) 0px 4px 2px, rgba(157, 255, 0, 0.19) 0px 8px 4px, rgba(115, 255, 0, 0.19) 0px 16px 8px, rgba(132, 255, 0, 0.19) 0px 32px 16px;
}



.link_onlyCharacter {
    text-decoration: none;
}

.content_grid:hover .link_leyend {
    text-shadow: 1px 1px 10px rgb(51, 255, 0);
}

.content_grid .link_leyend {
    margin: 0 25px;
    padding: 5px 0;
    text-align: center;
    font-weight: 800;
    font-size: 1.05rem;
    color: var(--colorMorty);
}

.name {
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
    color:hsl(158, 100%, 50%);
    font-weight: bold;
    margin: 10px 0;
    grid-row: 1;
    grid-column: 1 / 3;
}

.atributes {
    margin: 2px 0;
    gap: 5px;
    font-style: italic;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.atributes ._alive {
    font-style: normal;
    font-size: 1rem;
    color: white;
    background-color: rgb(32, 241, 32);
    border-radius: 10px;
    padding: 1px 10px;
    grid-row: 2;
    grid-column: 1;
}

.atributes ._dead {
    font-style: normal;
    font-size: 1rem;
    color: white;
    background-color: rgb(241, 81, 32);
    border-radius: 10px;
    padding: 1px 10px;
}

.atributes ._null {
    font-style: normal;
    font-size: 1rem;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1px 10px;
}

.atributes .especies_atribute {
    font-style: normal;
    font-size: 1rem;
    color: white;
    background-color: rgb(255, 222, 74);
    border-radius: 10px;
    padding: 1px 10px;
    grid-row: 2;
    grid-column: 2;
}

.image_character {
        width: 200px;
        height: auto;
        border-radius: 5px;
        z-index: 1;
        box-shadow: 0px 4px 20px 0px hsl(165deg 46% 40% / 29%);
        margin: auto;
}


@media (max-width: 768px) {
    .image_character {
        width: 100px;
    }
}