
.title {
    text-align: center;
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 
    0px 2px 5px rgba(200, 255, 232, 0.25),
    1px 2px 5px rgba(207, 255, 235, 0.25),
    1px 1px 5px rgba(193, 255, 229, 0.25),
    2px 0px 5px rgba(182, 255, 224, 0.25),
    0px 0px 20px rgb(0, 255, 149)
    ;
}

.btn_page_next_prev{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


.btn_page_next_prev button {
	box-shadow: 0px 0px 10px 1px hsla(108, 76%, 43%, 0.5);
	background-color:hsla(145, 100%, 39%, 0.9);
	border-radius: 28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:hsl(0, 0%, 90%);
    font-size:1rem;
    font-weight: 600;
	padding:0.6vh 0.6vw;
	text-decoration:none;
	text-shadow:-1px 1px 2px #10300b;
}

.btn_page_next_prev button:hover {
    background-color:#5cbf2a;
}

.pageActual {
    text-align: center;
    color:hsl(0, 0%, 90%);
    font-size:1.3rem;
    font-weight: 600;
    margin: 5px 0;
}