.footer1 {
    text-align: left;
    justify-items: center;
    background: linear-gradient(-45deg, hsl(115, 70%, 25%), var(--colorMorty));
    height: max-content;
    color: black;
    padding: 0.25vw;
    margin-top: auto;
}


