:root {
    --colorPrimary: rgb(129, 231, 119);
    --colorMorty: rgb(249, 247, 89);
    --colorBlueShadow: rgb(0, 1, 70);
    --cubicBezierSmooth: cubic-bezier(.86,.6,1,1);
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,0) 0%,
      black 100%
    ),
    radial-gradient(
      circle at 50% -50%,
      var(--colorPrimary) 0%,
      black 100%
    );
}


body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #09ff38;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
  }