.header {
    box-shadow: 0px 10px 20px 10px rgba(255, 247, 0, 0.2);
    position: sticky;
    top: 0%;
    z-index: 1000;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background: linear-gradient(to right, var(--colorMorty), hsla(115, 70%, 25%, 0.801));
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    height: min-content;
}

.logo img {
    width: 5.25vw;
    height: auto;
}


.logo :hover {
    content:url("../public/img/morty.png");
}


.linkCharacters {
    text-decoration: none;
}

.linkCharacters :hover {
    background-color: black;
    color: white;
}

.linkCharacters p {
    padding: 5px 8px;
    font-size: 2.5vh;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

@media (max-width: 1024px) {
    .logo img {
        width: 75px;
    }
    .linkCharacters p {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    .linkCharacters p {
        font-size: 100%;
    }
    .navigation {
        height: 65px;
    }
    .logo img {
        width: 65px;
    }
}
