

.introducción {
    padding: 0 20%;
}

.introducción h1 {
    text-align: center;
}

.cuerpo {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
}