
.content {
    margin: auto auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    min-width: 200px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(0, 49, 0);
    z-index: 1;
    filter: saturate(75%);
    transition: filter 0.5s var(--cubicBezierSmooth);
}

.content:hover {
    filter: saturate(100%);
}

.content_error {
    color: var(--colorBlueShadow);
    text-align: center;
    
}

.image_character {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin: auto 0;
}

.atributes{
    margin-top: 15px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
    height: min-content;
}


.atributes p {
    margin: 1.25% 0;
    color: white;
    text-shadow: 1px 1px 2px hsl(158deg 100% 10.31%);
}

.link_episodes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 10vh;
    min-height: 2vh;
    margin: 1% 0;
    padding-right: 1vw;
}

.link_episodes a:hover {
    color: rgb(206, 247, 126);
}

.link_episodes a {
    width: max-content;
    text-decoration: none;
    color: rgb(127, 255, 159);
}

.link_episodes::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */

  }

  .link_episodes::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

.link_episodes::-webkit-scrollbar-thumb {
    background-color: var(--sb-thumb-color); /* Color del scrollbar */
    border-radius: 12px; /* Radio de borde del scrollbar */
  }
  
  .link_episodes::-webkit-scrollbar-thumb:hover {
    background-color: var(--colorPrimary);
  }

.sub {
    font-size: 1.2rem;
    color: hsl(158, 100%, 65%);
    text-shadow: 1px 1px 2px hsl(158deg 100% 10.31%);
    font-weight:900;
}

@media (min-width: 1024px) {
    .content {
        width: 40%;
    }   
}
@media (max-width:1024px) {
    .content {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .name_tittle {
        display: none;
    }
    .image_character {
        margin: 0 auto;
        width: 60%;
        height: 60%;
    }
}