
.link_button{
    position: absolute;
    margin: 9px 20px;
    top:70%;
    left: 45%;
}

.link_button button{
    box-shadow: 0px 0px 10px 1px hsla(108, 76%, 43%, 0.5);
	background-color:hsla(145, 100%, 39%, 0.9);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:hsl(0, 0%, 90%);
    font-size:1rem;
    font-weight: 600;
	padding:0.6vh 0.6vw;
	text-decoration:none;
	text-shadow:-1px 1px 2px #10300b;
}

.link_button button:hover {
    background-color:#5cbf2a;
}



.content_error {
    color: var(--colorBlueShadow);
    text-align: center;
    
}

.name_tittle{
    position: absolute;
    z-index: 0;
    top:30%;
    text-transform: uppercase;
    text-align: center;
    font-size:15vw;
    font-weight: bold;
    letter-spacing: 1rem;
    text-wrap: nowrap;
    color: hsl(246, 100%, 15%);
    filter: blur(10px);
    animation: aparecerDeRepente 5s var(--cubicBezierSmooth) 1s forwards;
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para navegadores basados en Gecko (Firefox) */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

.name_tittle2 {
    position: absolute;
    z-index: 0;
    top:30%;
    text-transform: uppercase;
    text-align: center;
    font-size:15vw;
    font-weight: bold;
    letter-spacing: 1rem;
    text-wrap: nowrap;
    color: hsla(158, 100%, 15%);
    filter: blur(10px);
    animation: aparecerDeRepente 5s var(--cubicBezierSmooth) 1s forwards;
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para navegadores basados en Gecko (Firefox) */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

.name_tittle3 {
    position: absolute;
    z-index: 0;
    top:30%;
    text-transform: uppercase;
    text-align: center;
    font-size:15vw;
    font-weight: bold;
    letter-spacing: 1rem;
    text-wrap: nowrap;
    color: hsl(89.13 100% 15%);
    filter: blur(10px);
    animation: aparecerDeRepente 5s var(--cubicBezierSmooth) 1s forwards;
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para navegadores basados en Gecko (Firefox) */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

@keyframes aparecerDeRepente {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.45;
    }
    }